body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:262px;
    top:30px;
    width:57px;
    height:24px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:24px;
    
}

.u1_normal {
    background-image: url('../Move_items_files/Done_button_u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:23px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:29px;
}

.u2 {
    position:absolute;
    left:2px;
    top:1px;
    width:52px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Move_items_files/Placeholder_for_App_Content_u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u4 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Move_items_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:467px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:467px;
}

.u6 {
    position:absolute;
    left:2px;
    top:226px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Move_items_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:2117px;
    top:365px;
    width:24px;
    height:10px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:10px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-3px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:267px;
    top:30px;
    width:53px;
    height:23px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:29px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Move_items_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:230px;
    top:133px;
    width:77px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Move_items_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:233px;
    top:175px;
    width:77px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Move_items_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:233px;
    top:221px;
    width:77px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Move_items_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:233px;
    top:279px;
    width:77px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Move_items_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:230px;
    top:329px;
    width:77px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Move_items_files/u11_normal.png');
}

.u21_container {
    position:absolute;
    left:230px;
    top:391px;
    width:77px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:94px;
    top:432px;
    width:24px;
    height:28px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Move_items_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:6px;
    top:64px;
    width:314px;
    height:354px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:320px;
    height:360px;
}

.u26 {
    position:absolute;
    left:2px;
    top:169px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Move_items_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:3px;
    top:65px;
    width:314px;
    height:347px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:314px;
    height:347px;
}

.u28 {
    position:absolute;
    left:2px;
    top:166px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Move_items_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:233px;
    top:111px;
    width:74px;
    height:22px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:28px;
}

.u30 {
    position:absolute;
    left:2px;
    top:3px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Move_items_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:230px;
    top:158px;
    width:74px;
    height:22px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:28px;
}

.u32 {
    position:absolute;
    left:2px;
    top:3px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Move_items_files/u29_normal.png');
}

.u33_container {
    position:absolute;
    left:230px;
    top:199px;
    width:74px;
    height:22px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:28px;
}

.u34 {
    position:absolute;
    left:2px;
    top:3px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Move_items_files/u29_normal.png');
}

.u35_container {
    position:absolute;
    left:230px;
    top:265px;
    width:74px;
    height:22px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:28px;
}

.u36 {
    position:absolute;
    left:2px;
    top:3px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Move_items_files/u29_normal.png');
}

.u37_container {
    position:absolute;
    left:230px;
    top:314px;
    width:74px;
    height:22px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:28px;
}

.u38 {
    position:absolute;
    left:2px;
    top:3px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Move_items_files/u29_normal.png');
}

.u39_container {
    position:absolute;
    left:233px;
    top:381px;
    width:74px;
    height:22px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:28px;
}

.u40 {
    position:absolute;
    left:2px;
    top:3px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u41 {
    position:absolute;
    left:224px;
    top:122px;
    width:18px;
    height:290px;
    overflow:hidden;
}

#pd0u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:290px;
    
}

.u42_normal {
    background-image: url('../Move_items_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:7px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:7px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-4px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Move_items_files/u42_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:40px;
    width:17px;
    height:7px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:7px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-4px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Move_items_files/u42_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:82px;
    width:17px;
    height:7px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:7px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-4px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Move_items_files/u42_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:155px;
    width:17px;
    height:7px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:7px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-4px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Move_items_files/u42_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:202px;
    width:17px;
    height:7px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:7px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-4px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Move_items_files/u42_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:266px;
    width:17px;
    height:7px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:7px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-4px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u54 {
    position:absolute;
    left:226px;
    top:111px;
    width:97px;
    height:306px;
    overflow:hidden;
}

#pd0u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:97px;
    height:306px;
    
}

.u55_normal {
    background-image: url('../Move_items_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:7px;
    top:2px;
    width:89px;
    height:24px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:24px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Move_items_files/u55_normal.png');
}

.u57_container {
    position:absolute;
    left:7px;
    top:85px;
    width:89px;
    height:24px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:24px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Move_items_files/u55_normal.png');
}

.u59_container {
    position:absolute;
    left:7px;
    top:158px;
    width:89px;
    height:24px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:24px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Move_items_files/u55_normal.png');
}

.u61_container {
    position:absolute;
    left:7px;
    top:204px;
    width:89px;
    height:24px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:24px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Move_items_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:2px;
    top:42px;
    width:89px;
    height:24px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:24px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Move_items_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:270px;
    width:89px;
    height:24px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:24px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

